body
{
background-color:#ffffff;
font-family:Arial,Helvetica;
font-size:10pt;
}

table,td
{
font-family:Arial,Helvetica;
font-size:10pt;
}

td.small
{
font-size:8pt;
color:#770000;
}

p
{
text-indent:6px;
}

h1,h2
{
color:000077;
}

em
{
font-style:normal;
}

em.small
{
font-size:8pt;
}

em.mlink
{
font-size:10pt;
color:#000000;
font-style:normal;
text-decoration:none;
}

a:link, a:active
{
font-family:Arial,Helvtica;
font-size:8pt;
color:#0000dd;
}

a:visited
{
font-family:Arial,Helvtica;
font-size:8pt;
color:#000077;
}